{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Step list</h1>
    
    {{ include ('CoipeaultCNMegapolisBundle:Default:user_service.html.twig', {route: 'step_new'}) }}
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped records_list">
            <thead>
                <tr>
                    <th>Building</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Outof</th>
                    <th>Status</th>
                    <th>Updatedat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr{% if entity.status == 1 %} class="success"{% endif %}>
                    <td>{{ entity.building.name }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.number }}</td>
                    <td>{{ entity.outOf }}</td>
                    <td style="text-align: center;vertical-align: middle;">{% if entity.status == 1 %}<span class="glyphicon glyphicon-ok"> </span>{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        {{ include ('CoipeaultCNMegapolisBundle:Default:user_actions.html.twig', {route_base: 'step'}) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    {{ include ('CoipeaultCNMegapolisBundle:Default:user_service.html.twig', {route: 'step_new'}) }}
    
{% endblock %}
