{% extends '::base.html.twig' %}

{% block body -%}
<h1>StepMaterial list</h1>
    
    {{ include ('CoipeaultCNMegapolisBundle:Default:user_service.html.twig', {route: 'stepmaterial_new'}) }}

    <div class="table-responsive">
        <table class="table table-bordered table-striped records_list">
            <thead>
                <tr>
                    <th>Building<br>Step</th>
                    <th>Material</th>
                    <th class="span4">Progress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><strong>{{ entity.step.building.name }}</strong><br>{{ entity.step.name }}</td>
                    <td>{{ entity.material.name }}</td>
                    <td style="width: 350px;">
                        {{ entity.realized }} / {{ entity.outOf }}
                        <div class="progress progress-striped">
                            <div class="progress-bar{% if entity.realized / entity.outOf == 1 %} progress-bar-success{% endif %}" 
                                 role="progressbar" 
                                 aria-valuenow="{{ entity.realized }}" 
                                 aria-valuemin="0" 
                                 aria-valuemax="{{ entity.outOf }}" 
                                 style="width: {{ (entity.realized / entity.outOf) * 100 }}%;">
                                <span class="sr-only">{{ (entity.realized / entity.outOf) * 100 }}% Complete</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ include ('CoipeaultCNMegapolisBundle:Default:user_actions.html.twig', {route_base: 'stepmaterial'}) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ include ('CoipeaultCNMegapolisBundle:Default:user_service.html.twig', {route: 'stepmaterial_new'}) }}
{% endblock %}
