{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Material list</h1>
    
    {{ include ('CoipeaultCNMegapolisBundle:Default:user_service.html.twig', {route: 'material_new'}) }}
    
    <div class="table-responsive">
            <table class="table table-bordered table-striped records_list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.price }}</td>
                    <td>
                        {{ include ('CoipeaultCNMegapolisBundle:Default:user_actions.html.twig', {route_base: 'material'}) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    {{ include ('CoipeaultCNMegapolisBundle:Default:user_service.html.twig', {route: 'material_new'}) }}
    
{% endblock %}
